<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Keywords" content="HTML,CSS,JavaScript,SQL,jQuery,XML,DOM,Bootstrap,Java,Web development,SJ,programming,training,learning,quiz,primer,lessons,references,examples,exercises,source code,colors,demos,tips">
  <link rel="stylesheet" href="createyouraccount.css">
  <title>Fun to food</title>
</head>

<body>
  <!-- header -->
  <div class="SJ-header-SJ">
    <h1><a href="">Create Your Account</a></h1>
    <div class="SJ-navbar-SJ" id="mynavbar">
      <ul>
        <li><a href="/food">Home</a></li>
        <li><a href="/free">Free</a></li>
        <li><a href="/premium">Premium</a></li>
      </ul>
    </div>
  </div>
  <!-- end header -->
<!-- form container -->
<div class="SJ-container-form-SJ">
    <div class="SJ-from-description-SJ">
    </div>
    <div class="SJ-form-group-SJ" id="form-group">
      <form action="/" method="POST">
        <h1>Create Your Account</h1>
        <label>First Name</label>
        <input type="text" name="firstname" placeholder="Enter your lirstname" required><br>
        <label>Last Name</label>
        <input type="text" name="lastname" placeholder="Enter your lastename" required><br>
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter your username"required><br>
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter your password" required><br>
        <label>Phone Number</label>
        <input type="number" name="number" placeholder="Enter your phonenumber"required><br>
        <input type="checkbox" name="terms&condition" required>
        <a href="terms.html">Terms & Conditions</a>
        <input type="submit"></input>
      </form>
    </div>
  </div>
  <!-- end from container -->
<!-- footer -->
<div class="SJ-footer-SJ">
    <h3>Copyright &copy; 2021 Made by Siddharth Jain</h3>
    <p>Responsive or without responsive templates</p>
  </div>
  <!-- end footer -->
</body>

</html>